:host {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100dvh - 104px);
}

.auth-container {
  flex: 1;
  max-width: min(95%, 500px);
}

.auth__actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.auth__title {
  margin-bottom: 20px;
}

.auth__form {
  display: flex;
  flex-direction: column;
}

.auth__error-text {
  margin-top: 0;
  color: red;
}
