.test-title {
  text-align: center;
  margin-bottom: 2rem;
  width: 100%;
  font-size: 2rem;
  font-weight: bold;
}

.test-container {
  gap: 2rem;
  display: flex;
  flex-direction: column;
  border: 1px solid #000;
  max-width: min(800px, 100%);
  margin: 0 auto;

  padding: 2rem min(4rem, 5%);
  border-radius: 1rem;
}

.test-container__questions-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.test-container__actions {
  gap: 0.5rem;
  display: flex;
  margin: 0 auto;
  width: min-content;
}

.add-card-btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

  font-size: 70px;
  width: 70px;
  height: 70px;

  &>* {
    position: absolute;
    font-size: inherit;
    width: inherit;
    height: inherit;
  }
}