.test-title {
  text-align: center;
  margin-bottom: 2rem;
  width: 100%;
  font-size: 2rem;
  font-weight: bold;
  border: none;
  background: none;
}

.test__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0 auto;
  max-width: min(800px, 100%);
  border: 1px solid #000;

  padding: 2rem min(4rem, 5%);
  border-radius: 1rem;
}

.add-card-btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

  font-size: 70px;
  width: 70px;
  height: 70px;

  &>* {
    position: absolute;
    font-size: inherit;
    width: inherit;
    height: inherit;
  }
}