<div class="answer">
  @if (testType === 'passing') {
    @if (question.type === 'multiple') {
      <input
        [(ngModel)]="answer.checked"
        (change)="saveAnswer()"
        class="answer__checkbox"
        type="checkbox"
      />
    } @else {
      <input
        [(ngModel)]="question.group_answer"
        [value]="answer.id"
        (change)="saveAnswer()"
        class="answer__checkbox"
        type="radio"
        [attr.name]="question.id"
      />
    }
  }

  <input
    [(ngModel)]="answer.value"
    class="answer__input"
    type="text"
    placeholder="Вариант ответа"
    [disabled]="testType === 'passing'"
    [ngClass]="{
      'disabled-input-text': testType === 'passing',
    }"
  />

  @if (testType !== 'passing') {
    <button matButton="outlined" (click)="answer.correct = !answer.correct">
      Правильный: {{ answer.correct }}
    </button>

    <button matButton="outlined" (click)="onRemoveAnswer()">Удалить</button>
  }
</div>
