<nav class="navbar">
  <mat-toolbar class="nav-container">
    @if (authService.isLoggedIn()) {
      <span class="toolbar-spacer"></span>
      <ul class="nav-list nav-right">
        <li class="nav-item">
          <button matIconButton [matMenuTriggerFor]="menu">
            <mat-icon>account_circle</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <a mat-menu-item routerLink="">Мои тесты</a>
            <a mat-menu-item routerLink="/passed-tests">Завершенные</a>
            <a mat-menu-item routerLink="/profile">Профиль</a>
            <button mat-menu-item (click)="logout()">Выйти</button>
          </mat-menu>
        </li>
      </ul>
    } @else {
      <span class="toolbar-spacer"></span>
      <ul class="nav-list nav-right">
        <li class="nav-item">
          <a matButton routerLink="/register" routerLinkActive="active"
            >Регистрация</a
          >
        </li>
        <li class="nav-item">
          <a matButton routerLink="/login" routerLinkActive="active">Войти</a>
        </li>
      </ul>
    }
  </mat-toolbar>
</nav>
