.card__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-actions {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.questions {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem 0;
}

.question__input {
  font-size: 1.4rem;
}