<mat-card>
  <mat-card-header class="card__header">
    <mat-card-title
      >{{ questionIndex + 1 }}.
      <input
        class="question__input"
        type="text"
        [(ngModel)]="question.description"
        placeholder="Описание вопроса"
        [disabled]="testType === 'passing' || testType === 'watch'"
        [ngClass]="{
          'disabled-input-text': testType === 'passing' || testType === 'watch',
        }"
      />
    </mat-card-title>

    @if (testType !== 'passing' && testType !== 'watch') {
      <button (click)="changeQuestionType()" mat-stroked-button>
        @if (question.type === 'single') {
          Один вариант ответа
        } @else if (question.type === 'multiple') {
          Несколько вариантов
        }
      </button>
    }
  </mat-card-header>

  <mat-card-content>
    <div class="questions">
      @for (answer of question.answers; track answer.id) {
        <app-answer
          [testType]="testType"
          [answer]="answer"
          [question]="question"
          (removeAnswer)="removeAnswer(answer.id)"
        />
      }
    </div>

    @if (testType !== 'passing' && testType !== 'watch') {
      <div class="card-actions">
        <button
          mat-stroked-button
          class="task__add-option-btn"
          (click)="addNewAnswer()"
        >
          + добавить
        </button>
        <button
          matButton="filled"
          class="error-button"
          (click)="onRemoveQuestion()"
        >
          Удалить карточку
        </button>
      </div>
    }
  </mat-card-content>
</mat-card>
